@import 'bootstrap/scss/bootstrap';

$main: #36166f;
$main-light: #6a3cb0;
$alt: #ca19a4;

$transition: .2s;

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #d8d5da;
}

@mixin btn($color) {
  background-color: $color !important;
  color: if(lightness($color) > 50%, black, white) !important;
  transition: $transition;
  &:hover {
    background-color: darken($color, 10%) !important;
  }
  &:active {
    border-color: white !important;
  }
}

$colors: (
  "main": $main,
  "main-light": $main-light,
  "alt": $alt,
);

@each $name, $color in $colors {
  .btn-#{$name} {
    @include btn($color);
  }

  .bg-#{$name} {
    background-color: $color !important;
  }

  .text-#{$name} {
    color: $color !important;
  }
}

.transition {
  transition: $transition;
}

.cursor-pointer {
  cursor: pointer;
}

.btn {
  transition: $transition;
}

p {
  margin: 0 0 1rem 0;
  font-size: 0.9rem;
  color: #4f4b53;
}
