<main>
  <app-learning-resources />

  <hr />

  <app-auth />

  <!-- @if (isAdmin()) {
    <p>This should show to just admin...</p>
  } -->


  <!-- <ng-template appAuth="admin">
    <p>This should show to just admin...</p>
  </ng-template> -->
  
  <p *appAuth="'admin'" class="alert alert-success">This should show to just admin...</p>
  <p *appAuth="'user'" class="alert alert-info">This should show to just user...</p>
  <p *appAuth="'guest'" class="alert alert-danger">This should show to just guest...</p>

</main>
