div{
  background-color: lightseagreen;
  margin: 3rem;
  padding: .5rem 1rem;
  font-size: 1.5rem;
  border-radius: 1rem;
  p {
    color: rgb(228, 249, 134);
    span {
      color: white  ;
    }
  }
}
