.sidenav-container {
  height: 100%;
}

.sidenav {
  background-color: pink;
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  background-color: powderblue;
  position: sticky;
  top: 0;
  z-index: 1;
}
