@if (showAddNewTask()) {
  <app-new-task (close)="onCloseAddNewTask()" [userId]="userId" />
}

<section class="bg-main-dark h-100 rounded-3 p-4">

  <header class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="fw-bolder mb-0">{{userName}}'s tasks</h2>
    <button (click)="onStartAddNewTask()" class="btn btn-main-light">Add Task</button>
  </header>

  <ul class="list-unstyled mb-0 d-flex flex-column gap-3">
    @for (task of selectedUserTasks; track $index) {
      <li>
        <app-task [task]="task" />
      </li>
    }
  </ul>

</section>
