<div class="mb-3">
  <button (click)="onSelectUser()" class="btn btn-alt-dark">
    <img [src]="imgPath" [alt]="name" />
    <span class="fs-5 ms-2">{{name}}</span>
  </button>
</div>


<!-- 
  ? zone.js vs signals :
  ---------------------
  * zone.js
  - zone.js ==> when an event happens it check all files in zone(app) for any change happen

  * signals
  - just when changing happen all places have the signal will changing without checking all files
  - v = signal<T>(initialVal)
  - v.set(newVal)
  - v() ==> to get value
  - v1 = computed(() => 'string' + signalVariable) ==> to concat it with another string use

  * input.req<>() with signals // you can't get it an initial value and you can't set a value for it in it's component just from outside
  - name = input.required<string>();
  - avatar = input.required<string>();
  - imgPath = computed(() => `users/${this.avatar()}`) // it's a signal as i explain above

  * output<T>() ==> it's not a signals ==> it's just if you use input() signal and you don't need to use a decorator @Output() and it's short
  - select = output<string>();

  


-->
<!-- 
  selectedUser = signal(DUMMY_USERS[this.randomIndex()]);

  imgPath = computed(()=> `users/${this.selectedUser().avatar}`);

  onSelectUser() {
    this.selectedUser.set(DUMMY_USERS[this.randomIndex()]);
  }

  randomIndex():number {
    let i = Math.floor(Math.random() * DUMMY_USERS.length);
    return i;
  }
-->